body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    border: none;
}

button {
    background: #ff4444;
    color: white;
    font-weight: bold;
}

.acc-item {
    background: #222;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0;
}
