body {
  background: #0d0f16;
  color: white;
  font-family: Arial;
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-btn, .cart-btn, button {
  background: #ff5555;
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  border: none;
}

.product {
  background: #111827;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: #222;
}

.price {
  color: #ff7777;
  font-size: 20px;
}

.cart {
  background: #1a1c25;
  padding: 10px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.qr {
  width: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
}
