body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0a0a0a;
    color: white;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

.logo {
    width: 120px;
    margin-top: 10px;
}

.banner {
    width: 100%;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

.grid {
    padding: 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    background: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.price {
    color: #00ff88;
    font-weight: bold;
}

.qr {
    width: 200px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

footer {
    text-align: center;
    padding: 20px;
    opacity: 0.5;
}
