body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: #fff;
    text-align: center;
}

header {
    background: #222;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}

.product {
    background: #1c1c1c;
    width: 90%;
    max-width: 350px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background: orange;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
